.curiosities-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.curiosity-block {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 2rem;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

.curiosity-block .image-wrapper {
    flex: 0 0 40%;
    transform: scale(1.1);
    opacity: 0;
}

.curiosity-block .image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
    object-fit: cover;
}

.curiosity-block .text-content {
    flex: 0 0 55%;
    text-align: left;
}

.curiosity-block .text-content h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1rem;
    transform: translateY(40px);
    opacity: 0;
}

.curiosity-block .text-content p {
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    transform: translateY(40px);
    opacity: 0;
}

.curiosity-block.animate .image-wrapper {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    transform: scale(1);
    opacity: 1;
}

.curiosity-block.animate .text-content h3 {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.65s;
    transform: translateY(0);
    opacity: 1;
}

.curiosity-block.animate .text-content p {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    transform: translateY(0);
    opacity: 1;
}

.curiosity-block .text-content p:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .curiosity-block {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem;
        max-width: calc(100% - 20px); /* Mais largo */
        margin: 0 auto 2.5rem auto;
    }

    .curiosity-block .image-wrapper,
    .curiosity-block .text-content {
        flex: 1 1 100%;
    }

    .curiosity-block .text-content {
        text-align: center;
    }

    .curiosity-block .text-content p {
        text-align: left;
    }
}
