.hero {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh; /* ALTERADO: Ocupa a altura total da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    padding: 0 2rem;
    position: relative;
}

.hero .container-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.hero .container-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.55));
}

.hero .container-bg img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    padding-top: 150px; /* Adiciona padding para o conteúdo não ficar atrás do header transparente */
}

.hero-content h1 {
    color: var(--white-color);
    font-size: 3.8rem;
    transform: scale(1.2);
    opacity: 0;
    transition: all 0s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-content h1.animate {
    transform: scale(1);
    opacity: 1;
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hero-content p {
    color: var(--white-color);
    transform: scale(1.2);
    opacity: 0;
    transition: all 0s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-content p.animate {
    transform: scale(1);
    opacity: 1;
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}

#hero-section .container-btn-whatsapp {
    overflow: hidden;
    /* transform: scale(1.1);
    transition: all 0s cubic-bezier(0.215, 0.61, 0.355, 1) 1s; */
}
/* 
#hero-section .container-btn-whatsapp.animate {
    transform: scale(1);
    transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
} */

#hero-section .container-btn-whatsapp .btn-whatsapp {
    transform: translateY(100%);
    transition: all 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#hero-section .container-btn-whatsapp.animate .btn-whatsapp {
    transform: translateY(0%);
    transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
}

.hero-content .subtitle {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    font-weight: 300;
}

@media (max-width: 768px) {
    .hero-content {
        max-width: calc(100% - 20px);
        margin: 0 auto;
        padding-top: 80px; /* Ajuste para mobile também */
    }
}
